.navbar {
  padding: 2rem
}

.navbar-brand {
  flex-basis: 40%;
  flex-direction: unset;
  display: flex;
  flex-grow: 1;
  margin-left: 5%;
}

.nav-link {
  margin-right: 1rem;
}

.collapse > .show {
  
}